body {
    font-size: 16px;
  }
.pheader {
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: 50%;
    display: block;
    left: 50%;  
    transform: translate(-50%, -50%);
    line-height: 6rem;
    
}
.pfooter{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #EE733A;
    margin: 0px;
}
.pfooter-content{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
    margin: 0px;
}
.pbooknow{
    text-align: center;
    font-size: 1.7rem;
    color: black;
    font-family: 'Roboto','sans-serif'
}
.container{
    display: inline-block;
    position: relative;
}

.negrito {
    font-weight: 700;
}
.mdl-grid.center-items {
    justify-content: center;
  }
.mdl-mini-footer__social-btn.round-orange{
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.mdl-cell.cell-nospacing{
    margin: 0px;
    padding: 0px;
}
.footer_images{
    text-align: right;
}

@media screen and (max-width:480px){
    .pheader{
        color:white;
        top:50%;
        font-size: 2rem;
        line-height: 2rem;
    }
    .pbooknow{
        font-size: 1rem;
    }
    .pfooter-content{
        font-size: 0.75rem;
    }
    .pfooter{
        font-size: 0.85rem;
    }
    .footer_images{
        text-align: center;
    }
}
@media screen and (max-width:768px) and (min-width:481px){
    .pheader{
        color:white;
        top:50%;
        font-size: 3rem;
        line-height: 3rem;
    }
    .pbooknow{
        font-size: 2rem;
    }
    .footer_images{
        text-align: center;
    }
}

